<form [formGroup]="form" class="row">
  <div>
    <h2 class="mb-0">Add Product</h2>
  </div>

  <!-- Campo Name -->
  <div class="mb-2">
    <label class="mb-1" for="name">Name*</label>
    <input id="name" formControlName="name" type="text" class="form-control">
    @if (form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)) {
      <p class="text-danger my-1">Name is required</p>
    }
  </div>

  <!-- Campo Description -->
  <div class="mb-2">
    <label class="mb-1" for="description">Description*</label>
    <textarea id="description" formControlName="description" class="pb-5 form-control"></textarea>
    @if (form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)) {
      <p class="text-danger my-1">Description is required</p>
    }
  </div>

  <!-- Campo Price -->
  <div class="mb-2">
    <label class="mb-1" for="price">Price*</label>
    <input id="price" formControlName="price" type="number" class="form-control">
    @if (form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)) {
      <p class="text-danger my-1">Price is required</p>
    }
  </div>

  <!-- Campo Stock -->
  <div class="mb-2">
    <label class="mb-1" for="stock">Stock*</label>
    <input id="stock" formControlName="stock" type="number" class="form-control">
    @if (form.controls['stock'].invalid && (form.controls['stock'].dirty || form.controls['stock'].touched)) {
      <p class="text-danger my-1">Stock is required</p>
    }
  </div>

  <!-- Botón Guardar -->
  <div class="d-flex justify-content-end">
    <button (click)="callSave()" [disabled]="form.invalid" class="btn btn-primary" type="button">Save</button>
  </div>
</form>
